In [1]:
import pandas as pd
import numpy as np
from scipy.stats import trim_mean

In [15]:
data=pd.read_excel('Medals.xlsx')
data.head()

C:\Users\Acer\anaconda3\lib\site-packages\openpyxl\styles\stylesheet.py:226: UserWarning: Workbook contains no default style, apply openpyxl's default
  warn("Workbook contains no default style, apply openpyxl's default")

,Rank,Team/NOC,Gold,Silver,Bronze,Total,Rank by Total
0,1,United States of America,39,41,33,113,1
1,2,People's Republic of China,38,32,18,88,2
2,3,Japan,27,14,17,58,5
3,4,Great Britain,22,21,22,65,4
4,5,ROC,20,28,23,71,3

estimate of location 
(mean=add up all the numbers, then divide by how many numbers there are)

In [16]:
#mean 
data["Total"].mean()

11.612903225806452

The weighted mean is a statistical measure that takes into account the different weights assigned to individual data points. It is calculated by multiplying each data point by its corresponding weight, summing up these products,
and then dividing by the sum of the weights.

In [17]:
#weighted mean 
np.average(data["Total"], weights=data["Gold"])

46.832352941176474

The trimmed mean is a statistical measure that involves removing a certain percentage of extreme values (outliers) from a dataset and then calculating the mean of the remaining values.
scipy.stats.trim_mean() can be used to compute the trimmed mean of a distribution by trimming a specified proportion of data from both ends.

In [31]:
#trimed mean 
trim_mean(data["Total"],0.1) #0.1 will trim out top 10% from gold

6.8933333333333335

In [29]:
#median 
data["Total"].median()

4.0

The cumulative sum, often denoted as cumsum, is a sequence of 
partial sums of a given sequence.(.cumsum())
In Python, when working with pandas DataFrames, the .iloc[] indexer is used for integer-location based indexing, allowing you to select specific rows or columns by their integer position. The argument passed to .iloc[]

In [53]:
def weighted_median(df,median_col, weight_col):
    df_sorted=df.sort_values(median_col) #sorting the data values 
    cumsum=df_sorted[weight_col].cumsum()
    cutoff=df_sorted[weight_col].sum()/2
    return df_sorted[cumsum>= cutoff][median_col].iloc[0]

In [54]:
weighted_median(data,"Total","Gold")

40

In [56]:
#finding percentile 
q3=np.percentile(data["Total"], 75)
q3

11.0

In [57]:
data.describe()

            Rank       Gold     Silver     Bronze       Total  Rank by Total
count  93.000000  93.000000  93.000000  93.000000   93.000000      93.000000
mean   46.333333   3.655914   3.634409   4.322581   11.612903      43.494624
std    26.219116   7.022471   6.626339   6.210372   19.091332      24.171769
min     1.000000   0.000000   0.000000   0.000000    1.000000       1.000000
25%    24.000000   0.000000   0.000000   1.000000    2.000000      23.000000
50%    46.000000   1.000000   1.000000   2.000000    4.000000      47.000000
75%    70.000000   3.000000   4.000000   5.000000   11.000000      66.000000
max    86.000000  39.000000  41.000000  33.000000  113.000000      77.000000

In [68]:
#variance sqr the deviation 
from statistics import variance 
variance (data["Gold"])

49.315100514259

In [70]:
#standard deviation  (sqroot of the variance )
from statistics import stdev
stdev(data["Gold"])

7.022471111671376

In [83]:
from statistics import mean 
aa=data["Gold"].abs()

mean(aa-mean(data["Gold"]))

9.072790308764721e-17

In [84]:
q3,q1=np.percentile(data["Gold"],[75,25])
iqr=q3-q1
iqr

3.0

In [91]:
data.boxplot(column="Gold", by=None, ax=None)

In [97]:
f_table=data.copy()
f_table["freq"]=pd.cut(data["Gold"],10)
f_table.groupby("freq")["Rank"].count().reset_index()

            freq  Rank
0  (-0.039, 3.9]    72
1     (3.9, 7.8]    11
2    (7.8, 11.7]     4
3   (11.7, 15.6]     0
4   (15.6, 19.5]     1
5   (19.5, 23.4]     2
6   (23.4, 27.3]     1
7   (27.3, 31.2]     0
8   (31.2, 35.1]     0
9   (35.1, 39.0]     2

In [106]:
import matplotlib.pyplot as plt
plt.hist(x=data["Gold"], bins='auto', color='blue',
        alpha=0.7, rwidth=0.85)

(array([50., 11., 11.,  5.,  2.,  4.,  0.,  4.,  0.,  0.,  0.,  0.,  0.,
         1.,  0.,  1.,  1.,  0.,  0.,  0.,  1.,  0.,  0.,  0.,  0.,  0.,
         0.,  0.,  0.,  2.]),
 array([ 0. ,  1.3,  2.6,  3.9,  5.2,  6.5,  7.8,  9.1, 10.4, 11.7, 13. ,
        14.3, 15.6, 16.9, 18.2, 19.5, 20.8, 22.1, 23.4, 24.7, 26. , 27.3,
        28.6, 29.9, 31.2, 32.5, 33.8, 35.1, 36.4, 37.7, 39. ]),
 <BarContainer object of 30 artists>)